body{
    /* background-color:crimson; */
    background-image: url("https://images3.alphacoders.com/954/thumb-1920-954241.jpg"); 
    color:rgb(253, 253, 253);
}
h1{
  color:rgb(253, 253, 253);
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}
p{
  color:rgb(255, 255, 255);
  text-transform: capitalize;
  font-family: 'Courier New', courier, monospace;
}
q{
  font-size: 50px;
  font-weight: bolder;
}